@model InmobiliariaCA.Models.Inmueble
@{
    ViewData["Title"] = Model == null || Model.Id == 0 ? "Formulario de Registro" : "Formulario Actualización";
}


<div class="container mt-5">
    <div class="card shadow-sm">
        <div class="card-header bg-primary text-white">
            <h2>@(Model == null || Model.Id == 0 ? "Formulario de Registro" : "Formulario de Actualización")</h2>
        </div>
        <div class="card-body">

            <form asp-action="CrearActualizar">
                 <div class="row mb-3">
                    <div class="col-md-6">
                        <div class="form-floating">
                            <input asp-for="Direccion" class="form-control" placeholder="Direccion")">
                            <label asp-for="Direccion">Direccion</label>
                            <span asp-validation-for="Direccion" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating">
                            <input asp-for="Direccion" class="form-control" placeholder="Direccion">
                            <label asp-for="Direccion">Direccion</label>
                            <span asp-validation-for="Direccion" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-6">
                        <div class="form-floating">
                            @Html.DropDownListFor(m => m.Id_Tipo_Inmueble, (SelectList)ViewBag.TipoInmuebles, "", new { @class = "form-select", id = "Id_Tipo_Inmueble" })
                            <label for="Id_Tipo_Inmueble">Tipo</label>
                            <span asp-validation-for="Id_Tipo_Inmueble" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating">
                            @Html.DropDownListFor(m => m.Id_Tipo_Inmueble_Uso, (SelectList)ViewBag.TipoInmueblesUsos, "", new { @class = "form-select", id = "Id_Tipo_Inmueble_Uso" })
                            <label for="Id_Tipo_Inmueble_Uso">Tipo de Uso</label>
                            <span asp-validation-for="Id_Tipo_Inmueble_Uso" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-6">
                        <div class="form-floating">
                            <input asp-for="Ambientes" class="form-control" placeholder="Ambientes">
                            <label asp-for="Ambientes">Ambientes</label>
                            <span asp-validation-for="Ambientes" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-6">
                        <div class="form-floating">
                            <input asp-for="Coordenada_Lat" class="form-control" placeholder="Coordenada_Lat">
                            <label asp-for="Coordenada_Lat">Latitud</label>
                            <span asp-validation-for="Coordenada_Lat" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating">
                            <input asp-for="Coordenada_Lon" class="form-control" placeholder="Coordenada_Lon">
                            <label asp-for="Coordenada_Lon">Longitud</label>
                            <span asp-validation-for="Coordenada_Lon" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-6">
                        <div class="form-floating">
                            <input asp-for="Precio" class="form-control" placeholder="Precio">
                            <label asp-for="Precio">Precio</label>
                            <span asp-validation-for="Precio" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <input type="hidden" asp-for="Id" />

                <div class="d-flex justify-content-between">
                    <a href="@Url.Action(Model == null ? "Index" : "Detalle", "Inmueble", Model == null || Model.Id == 0 ? null : new { id = Model.Id })" class="btn btn-secondary">
                        @(Model == null ? "Volver a la Lista" : "Volver")
                    </a>
                    <button type="submit" class="btn btn-primary">
                        @(Model == null || Model.Id == 0 ? "Registrar" : "Actualizar")
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/4.0.0/jquery.validate.unobtrusive.min.js"></script>
}
