@model ProyectoInmobiliaria.Models.Propietario
<div class="container mt-5">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Detalles del Propietario</h3>
        </div>
        <div class="card-body">
            <h5 class="card-title">@Model.Nombre @Model.Apellido</h5>
            <h6 class="card-subtitle mb-2 text-muted">DNI: @Model.Dni</h6>
            <p class="card-text">
                <strong>Teléfono:</strong> @Model.Telefono <br />
                <strong>Email:</strong> @Model.Email <br />
                <strong id="direccion">Dirección:</strong> @Model.Direccion <br />
                <strong>Fecha Creacion:</strong> @Model.Fecha_Creacion
                <strong>Fecha Actualizacion:</strong> @Model.Fecha_Actualizacion <br />
            </p>
            <a href="@Url.Action("AltaEditar", "Propietario", new { id = Model.Id })" class="btn btn-warning">Editar</a>
            <a href="@Url.Action("Index", "Propietario")" class="btn btn-primary">Volver a la lista</a>
        </div>
    </div>
</div>
