@model IEnumerable<ProyectoInmobiliaria.Models.Propietario>
@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-5">
    <h2 class="mb-4">Lista de Propietarios</h2>
    <div class="row">
        @foreach (var propietario in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card">
                    <h5 class="card-header">(@propietario.Id) @propietario.Nombre @propietario.Apellido</h5>
                    <div class="card-body">
                        <h6 class="card-title"><strong>DNI:</strong> @propietario.Dni</h6>
                        @* <p class="card-text">
                    <strong>Teléfono:</strong> @propietario.Telefono <br />
                    <strong>Email:</strong> @propietario.Email <br />
                    <strong>Dirección:</strong> @propietario.Direccion
                    </p> *@

                        @* <a href="@Url.Action("Edit", "Propietario", new { id = propietario.Id })"
                    class="btn btn-warning btn-sm">Editar</a>
                    <a href="@Url.Action("Delete", "Propietario", new { id = propietario.Id })"
                    class="btn btn-danger btn-sm">Borrar</a> *@
                    </div>
                    <div class="card-footer text-end">
                        <a href="@Url.Action("Detalle", "Propietario", new { id = propietario.Id })"
                            class="btn btn-info btn text-end">Ver</a>
                    </div>
                </div>
            </div>
        }
    </div>
    <a href="@Url.Action("AltaEditar", "Propietario")" class="btn btn-success mt-4">Agregar Nuevo Propietario</a>
</div>