@model InmobiliariaCA.Models.Propietario

<div class="container mt-5">
    <div class="d-flex justify-content-between align-items-center mb-4">
        
    </div>
    <div class="card shadow-sm">
        <div class="card-header bg-primary text-white">
            <h2>Detalles del Propietario</h2>
        </div>
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-3">Nombre Completo</dt>
                <dd class="col-sm-9">@Model.Nombre @Model.Apellido</dd>

                <dt class="col-sm-3">DNI</dt>
                <dd class="col-sm-9">@Model.Dni</dd>

                <dt class="col-sm-3">Teléfono</dt>
                <dd class="col-sm-9">@Model.Telefono</dd>

                <dt class="col-sm-3">Email</dt>
                <dd class="col-sm-9">@Model.Email</dd>

                <dt class="col-sm-3">Dirección</dt>
                <dd class="col-sm-9">@Model.Direccion</dd>

                <dt class="col-sm-3">Fecha de Creación</dt>
                <dd class="col-sm-9">@Model.Fecha_Creacion.ToString("dd/MM/yyyy")</dd>
            </dl>
        </div>
        <div class="card-footer text-end">
            <a href="@Url.Action("AltaEditar", "Inmueble", new { idPropietario = Model.Id })" class="btn btn-success">Agregar Nuevo Inmueble</a>
            <a href="@Url.Action("AltaEditar", "Propietario", new { id = Model.Id })" class="btn btn-warning">Editar</a>
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modalBajaLogica">
                Eliminar
            </button>
            <a href="@Url.Action("Index", "Propietario")" class="btn btn-secondary">Volver a la Lista</a>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalBajaLogica" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-primary text-white">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Propietario</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ¿Esta seguro que desea eliminar a @Model.Apellido @Model.Nombre?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <form asp-action="Baja" method="post" class="d-inline">
                    <input type="hidden" name="id" value="@Model.Id" />
                    <button type="submit" class="btn btn-danger">Eliminar</button>
                </form>
            </div>
        </div>
    </div>
</div>
