@model InmobiliariaCA.Models.ContratoModels.ContratoViewModel

@{
    ViewData["Title"] = Model == null || Model.Contrato.Id == 0 ? "Crear Contrato" : "Editar Contrato";
    System.Globalization.CultureInfo culturaArgentina = new System.Globalization.CultureInfo("es-AR");
    List<Inmueble> inmuebles = ViewBag.Inmuebles != null ? ViewBag.Inmuebles : new List<Inmueble>();
}

<div class="container mt-5">
    <div class="card shadow-sm">
        <div class="card-header bg-primary text-white">
            <h2>@ViewData["Title"]</h2>
        </div>
        <div class="card-body">
            <form asp-action="CrearActualizar">
                <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>
                <div class="row mb-3">
                    <div class="col-md-6">
                        <div class="form-floating">
                            <label for="Id_Inquilino"><i class="fas fa-user"></i> Inquilino</label>
                            @Html.DropDownListFor(m => m.Id_Inquilino, (SelectList)ViewBag.Inquilinos, "Seleccione un Inquilino", new { @class = "form-select", @required = "required", id = "Id_Inquilino" })
                            <span asp-validation-for="Id_Inquilino" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-5">
                        <label asp-for="Contrato.Fecha_Desde" class="form-label"><i class="fas fa-calendar-alt"></i> Fecha Desde</label>
                        <input asp-for="Contrato.Fecha_Desde" id="Fecha_Desde" type="date" class="form-control" min="@DateTime.Now.ToString("yyyy-MM-dd")" required />
                        <span asp-validation-for="Contrato.Fecha_Desde" class="text-danger"></span>
                    </div>
                    <div class="col-md-5">
                        <label asp-for="Contrato.Fecha_Hasta" class="form-label"><i class="fas fa-calendar-alt"></i> Fecha Hasta</label>
                        <input asp-for="Contrato.Fecha_Hasta" id="Fecha_Hasta" type="date" class="form-control" />
                        <span asp-validation-for="Contrato.Fecha_Hasta" class="text-danger"></span>
                    </div>
                    <div class="col-md-2">
                        <button id="btnBuscarInmueble" class="btn btn-info btn-sm mx-1 shadow-sm">Buscar</button>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-6">
                        <div class="form-floating">
                            <label for="Id_Inquilino"><i class="fas fa-user"></i> Inquilino</label>
                            @Html.DropDownListFor(m => m.Contrato.Id_Inquilino, (SelectList)ViewBag.Inquilinos, "Seleccione un Inquilino", new { @class = "form-select", @required = "required", id = "Id_Inquilino" })
                            <span asp-validation-for="Contrato.Id_Inquilino" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-6">
                        <label asp-for="Contrato.Monto_Alquiler" class="form-label"><i class="fas fa-money-bill"></i> Monto del Alquiler</label>
                        <input asp-for="Contrato.Monto_Alquiler" class="form-control" placeholder="Ingrese el monto del alquiler" type="number" step="0.01" />
                        <span asp-validation-for="Contrato.Monto_Alquiler" class="text-danger"></span>
                    </div>
                </div>

                <input type="hidden" asp-for="Contrato.Id" />
                <input type="hidden" asp-for="Contrato.Id_Inmueble" />
                <div class="row mt-4">
                    @if (inmuebles.Any())
                    {
                        foreach (var inmueble in inmuebles)
                        {
                            <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                                <div class="card shadow-sm h-100">
                                    <div class="card-body d-flex flex-column">
                                        <h5 class="card-title text-white p-2" style="background-color: #2d94f5;">@inmueble.Direccion</h5>
                                        @* <p class="card-text"><strong>Propietario:</strong> @(inmueble.Propietario != null ? $"{inmueble.Propietario.Apellido} {inmueble.Propietario.Nombre}" : "No disponible")</p> *@
                                        <p class="card-text">
                                            <strong>Precio:</strong> 
                                            <span class="text-success">@inmueble.Precio.ToString("C", culturaArgentina)</span>
                                        </p>
                                       <div class="form-check">
                                            <input type="hidden" id="valor_inmueble_@inmueble.Id" value="@inmueble.Precio" />
                                            <input type="radio" id="Id_Inmueble" class="form-check-input" name="selectedInmueble" id="inmueble_@inmueble.Id" value="@inmueble.Id"
                                                @(Model?.Contrato.Id_Inmueble == inmueble.Id ? "checked" : "")>
                                            <label class="form-check-label" for="inmueble_@inmueble.Id">Seleccionar este inmueble</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        <div class="alert alert-info text-center" role="alert">
                            <i class="fas fa-info-circle me-2"></i> No existen inmuebles en las fechas seleccionadas
                        </div>
                    }
                </div>

                <div class="d-flex justify-content-between">
                    <a href="@Url.Action("Index", "Contrato")" class="btn btn-secondary">
                        <i class="fas fa-arrow-left"></i> Volver a la Lista
                    </a>
                    <button type="submit" class="btn btn-primary">
                        <i class="fas fa-save"></i> @(Model == null || Model.Contrato.Id == 0 ? "Registrar" : "Actualizar")
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/4.0.0/jquery.validate.unobtrusive.min.js"></script>
    <script>
        $(document).ready(function () {            
            $('input[name="selectedInmueble"]').change(function() {
                var selectedInmuebleId = $(this).val();
                document.getElementById("Id_Inmueble").value = selectedInmuebleId;
                document.getElementById("Monto_Alquiler").value = document.getElementById('valor_inmueble_' + selectedInmuebleId).value.replace(',', '.');
            });

            $('#btnBuscarInmueble').on('click', function(e) {
                e.preventDefault(); // Evitar el comportamiento por defecto del botón
                var fechaDesde = document.getElementById('Fecha_Desde').value;
                var fechaHasta = document.getElementById('Fecha_Hasta').value;
                var inmuebleId = document.getElementById("Id_Inmueble").value;

                // Redireccionar a la acción del controlador con los parámetros
                window.location.href = '@Url.Action("AltaEditar", "Contrato")' + '?fechaDesde=' + fechaDesde + '&fechaHasta=' + fechaHasta;
            });

            var today = new Date().toISOString().split('T')[0];
            $('#Fecha_Desde').attr('min', today);

            $('form').submit(function (event) {
                var fechaDesde = $('#Fecha_Desde').val();
                var fechaHasta = $('#Fecha_Hasta').val();
                var fechaActual = new Date().toISOString().split('T')[0];

                // Validación para la fecha desde no ser menor que la fecha actual
                if (fechaDesde < fechaActual) {
                    alert('La fecha de inicio no puede ser menor que la fecha actual.');
                    $('#Fecha_Desde').val(today);
                    event.preventDefault(); // Detiene el envío del formulario
                }

                // Validación para la fecha hasta ser posterior a la fecha desde
                if (fechaDesde && fechaHasta && fechaHasta < fechaDesde) {
                    alert('La fecha de finalización debe ser posterior a la fecha de inicio.');
                    $('#Fecha_Hasta').val('');
                    event.preventDefault(); // Detiene el envío del formulario
                }
            });

            $('#id_inmueble').change(function () {
                var precio = $(this).find('option:selected').attr('data-precio');
                precio = precio.replace(',', '.');
                $('#Monto_Alquiler').val(precio);
            });
        });
    </script>
}
