@model InmobiliariaCA.Models.ContratoModels.ContratoDetalleViewModel

<div class="container mt-5">
    <div class="card shadow-sm">
        <div class="card-header bg-primary text-white d-flex justify-content-between align-items-center">
            <h2>Detalles del Contrato Nro: @Model.Id</h2>
            <div>
                <h3 class="mb-0">Pagos: @Model.Cuotas_Pagas/@Model.Cantidad_Cuotas</h3>
                @if(@Model.Estado == EstadoContrato.Vigente) {
                    <span class="badge bg-success">@Model.Estado</span>
                } else {
                    <span class="badge bg-danger">@Model.Estado</span>
                }
                
            </div>
        </div>
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-3">Inmueble</dt>
                <dd class="col-sm-9">@Model.Inmueble?.NombreInmueble</dd>

                <dt class="col-sm-3">Inquilino</dt>
                <dd class="col-sm-9">@Model.Inquilino?.Nombre @Model.Inquilino?.NombreCompletoDNI</dd>

                <dt class="col-sm-3">Fecha Desde</dt>
                <dd class="col-sm-9">@Model.Fecha_Desde.ToString("dd/MM/yyyy")</dd>

                <dt class="col-sm-3">Fecha Hasta</dt>
                <dd class="col-sm-9">@Model.Fecha_Hasta.ToString("dd/MM/yyyy")</dd>

                <dt class="col-sm-3">Monto Alquiler</dt>
                <dd class="col-sm-9">$@Model.Monto_Alquiler.ToString("N2")</dd>

                <dt class="col-sm-3">Fecha Finalización Anticipada</dt>
                <dd class="col-sm-9">
                    @if(Model.Fecha_Finalizacion_Anticipada.HasValue) {
                        @Model.Fecha_Finalizacion_Anticipada.Value.ToString("dd/MM/yyyy")
                    } else {
                        <span>No Aplica</span>
                    }
                </dd>

                <dt class="col-sm-3">Multa</dt>
                <dd class="col-sm-9">
                    @if(Model.Multa.HasValue) {
                         <span>$ @Model.Multa.Value.ToString("N2") </span>
                    } else {
                        <span>No Aplica</span>
                    }
                </dd>

            </dl>
        </div>
        <div class="card-footer d-flex justify-content-between">
            <div>
                <a href="@Url.Action(Model.EsFinalizado() ? "RenovarContrato" : "TerminarContrato", "Contrato", new { id = Model.Id })" 
                class="btn @(Model.EsFinalizado() ? "btn-success" : "btn-danger")">
                    @(Model.EsFinalizado() ? "Renovar Contrato" : "Terminar Contrato")
                </a>
            </div>
            <div>
                @if (!Model.EsFinalizado() ) {
                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#pagoModal">
                        Pagar
                    </button>
                    <a href="@Url.Action("AltaEditar", "Contrato", new { id = Model.Id, FechaDesde = Model.Fecha_Desde.ToString("yyyy-MM-dd"), FechaHasta = Model.Fecha_Hasta.ToString("yyyy-MM-dd"), Id_Inquilino = Model.Inquilino?.Id, Monto_Alquiler = Model.Monto_Alquiler })" class="btn btn-warning">
                        Editar
                    </a>
                }
                @if(User.IsInRole("administrador")){
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modalBajaLogica">
                        Eliminar
                    </button>
                }
                
                <a href="@Url.Action("Index", "Contrato")" class="btn btn-secondary">
                    Volver a la Lista
                </a>
            </div>
        </div>
    </div>
</div>
<div class="container mt-5">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2 class="text-primary"><i class="fas fa-money-bill-wave"></i> Lista de Pagos</h2>
    </div>
    <div class="row">
        @if (Model.Pagos.Any())
        {
            foreach (var pago in Model.Pagos)
            {
                <div class="col-12 mb-4">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <h5 class="card-title text-white p-2"
                                style="background-color: @(pago.Estado == EstadoPago.Anulado ? "#f26060" : "#2d94f5");">Nro Pago:
                                @pago.Numero_Pago</h5>
                            <p class="card-text"><strong>Número de Contrato:</strong> @pago.Contrato_Id</p>
                            <p class="card-text"><strong>Fecha de Pago:</strong> @pago.Fecha_Pago.ToString("dd/MM/yyyy")</p>
                            <p class="card-text"><strong>Detalle:</strong> @pago.Detalle</p>
                            <p class="card-text"><strong>Importe:</strong> $@pago.Importe</p>
                            @if (User.IsInRole("administrador"))
                            {
                                <p class="card-text"><strong>Creado Por:</strong> @pago.CreadoPor?.NombreCompleto</p>
                                @if (pago.Anulado_Por_Id.HasValue)
                                {
                                    <p class="card-text"><strong>Anulado Por:</strong> @pago.AnuladoPor?.NombreCompleto</p>
                                    <p class="card-text"><strong>Fecha Anulación:</strong> @pago.Fecha_Anulacion?.ToString("dd/MM/yyyy")</p>
                                }
                            }
                            <p class="card-text"><strong>Estado: @pago.Estado</strong></p>
                            <div class="d-flex justify-content-end">
                                <a href="@Url.Action("Detalle", "Pago", new { id = pago.Id })"
                                    class="btn btn-info btn-sm mx-1 shadow-sm">Ver Detalles</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <div class="alert alert-info" role="alert">
                No existen pagos realizados.
            </div>
        }
    </div>
</div>

<div id="infoContrato" 
     data-fecha-desde="@Model.Fecha_Desde.ToString("yyyy-MM-ddT00:00:00Z")"
     data-fecha-hasta="@Model.Fecha_Hasta.ToString("yyyy-MM-ddT00:00:00Z")"
     data-cuotas-pagas="@Model.Cuotas_Pagas"
     data-cuotas-totales="@Model.Cantidad_Cuotas">
</div>

<!-- Modal Anulacion -->
<div class="modal fade" id="modalBajaLogica" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-primary text-white">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Contrato</h1>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ¿Está seguro que desea eliminar el contrato del inmueble @Model.Inmueble?.Direccion con el inquilino @Model.Inquilino?.Nombre @Model.Inquilino?.Apellido?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <form asp-action="Baja" method="post" class="d-inline">
                    <input type="hidden" name="id" value="@Model.Id" />
                    <button type="submit" class="btn btn-danger">Eliminar</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal para el pago -->
<div class="modal fade" id="pagoModal" tabindex="-1" role="dialog" aria-labelledby="pagoModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                    <h5 class="modal-title" id="pagoModalLabel">Realizar Pago</h5>
                    <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                </div>                
                <form id="formPago" action="@Url.Action("CrearActualizar", "Pago")" method="post" onsubmit="return validarFormularioPago();">
                    <div class="modal-body">
                        <input type="hidden" name="Contrato_Id" value="@Model.Id">
                        <div class="mb-3">
                            <label for="Numero_Pago" class="form-label">Número de Pago</label>
                            <input type="number" class="form-control" id="Numero_Pago" name="Numero_Pago" value="@ViewBag.NumeroPago" readonly>
                        </div>
                        <div class="mb-3">
                            <label for="Fecha_Pago" class="form-label">Fecha de Pago</label>
                            <input type="date" class="form-control" id="Fecha_Pago" name="Fecha_Pago" min="@DateTime.Now.ToString("yyyy-MM-dd")" required>
                        </div>
                        <div class="mb-3">
                            <label for="Detalle" class="form-label">Detalle</label>
                            <input type="text" class="form-control" id="Detalle" name="Detalle" value="@($"Pago {Model.Cuotas_Pagas + 1}")" required>
                        </div>
                        <div class="mb-3">
                            <label for="Importe" class="form-label">Monto del Alquiler</label>
                            <input type="text" class="form-control" id="Importe" name="Importe" value="@Model.Monto_Alquiler" readonly>
                        </div>
                    </div>
                    <div id="botoneraModalPago" class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-primary" id="botonPago">Confirmar Pago</button>
                    </div>
                </form>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/4.0.0/jquery.validate.unobtrusive.min.js"></script>
    <script>
       $(document).ready(function () {
        console.log("Fechas y cuotas:")
            $('#botonConfirmarPago').click(function (event) {
                event.preventDefault();

                var precio = $('#Importe').val();
                precio = precio.replace(',', '.');
                $('#Importe').val(precio);

                if (validarFormularioPago()) {
                    $('#formPago').submit();
                }
            });

            $('#botonPago').click(function () {
                console.log("Botón pagar clickeado");
                const infoContrato = $('#infoContrato');
                const fechaDesde = new Date(infoContrato.data('fecha-desde'));
                const fechaHasta = new Date(infoContrato.data('fecha-hasta'));
                const fechaDesdeCorrecta = new Date(fechaDesde.getUTCFullYear(), fechaDesde.getUTCMonth(), fechaDesde.getUTCDate());
                const fechaHastaCorrecta = new Date(fechaHasta.getUTCFullYear(), fechaHasta.getUTCMonth(), fechaHasta.getUTCDate());

                const cuotasPagas = parseInt(infoContrato.data('cuotas-pagas'));
                const cuotasTotales = parseInt(infoContrato.data('cuotas-totales'));
                const fechaActual = new Date();

                console.log("Fechas y cuotas:", fechaDesde, fechaHasta, cuotasPagas, cuotasTotales);
                

                if (fechaActual.getMonth() >= fechaDesdeCorrecta.getMonth() && fechaActual <= fechaHastaCorrecta) {
                    const mesesTranscurridos = ((fechaActual.getFullYear() - fechaDesdeCorrecta.getFullYear()) * 12) + (fechaActual.getMonth() - fechaDesdeCorrecta.getMonth());
                    
                    console.log("Meses Transcurridos:", mesesTranscurridos);                   

                    if (mesesTranscurridos < cuotasPagas) {
                        @* $("#pagoModal .modal-body").html('<div class="alert alert-success">El pago para este mes ya ha sido realizado.</div><button id="terminarContratoBtn" class="btn btn-danger">Terminar Contrato</button>');
                        $("#botoneraModalPago").hide();    *@   
                        $("#formPago").show();                  
                    } else if (mesesTranscurridos < cuotasTotales) {
                        $("#formPago").show();
                    } else {
                        $("#pagoModal .modal-body").html('<div class="alert alert-info">Todos los pagos del contrato han sido completados.</div>');
                        $("#botoneraModalPago").hide();
                    }
                } else {
                    $("#pagoModal .modal-body").html('<div class="alert alert-warning">No estamos en el periodo de contrato.</div>');
                    $("#botoneraModalPago").hide();
                }
            });
        });

        function validarFormularioPago() {
            // Obtén valores del formulario
            let fechaPago = document.getElementById('FechaPago').value;
            let detalle = document.getElementById('Detalle').value;

            // Verifica que la fecha de pago no esté vacía
            if (fechaPago === '') {
                alert('Por favor, introduzca la fecha de pago.');
                return false;
            }

            // Verifica que el detalle no esté vacío
            if (detalle.trim() === '') {
                alert('Por favor, introduzca un detalle para el pago.');
                return false;
            }

            return true; 
        }
    </script>
}