@model IEnumerable<InmobiliariaCA.Models.Contrato>

@{
    ViewData["Title"] = "Lista de Contratos";
}

<div class="container mt-5">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2 class="text-primary"><i class="fas fa-file-contract"></i> Lista de Contratos</h2>
        <a href="@Url.Action("Create", "Contrato")" class="btn btn-success shadow-sm">Agregar Nuevo Contrato</a>
    </div>
    <div class="row">
        @if (Model.Any()) {
            foreach (var contrato in Model) {
                <div class="col-12 mb-4">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <p class="card-text"><strong>Inmueble ID:</strong> @contrato.Id_Inmueble</p>
                            <p class="card-text"><strong>Inquilino ID:</strong> @contrato.Id_Inquilino</p>
                            <p class="card-text"><strong>Fecha Desde:</strong> @contrato.Fecha_Desde.ToShortDateString()</p>
                            <p class="card-text"><strong>Fecha Hasta:</strong> @contrato.Fecha_Hasta.ToShortDateString()</p>
                            <p class="card-text"><strong>Monto de Alquiler:</strong> @contrato.Monto_Alquiler</p>
                            <p class="card-text"><strong>Estado:</strong> @(contrato.Estado ? "Activo" : "Inactivo")</p>
                            <div class="d-flex justify-content-end">
                                <a href="@Url.Action("Details", "Contrato", new { id = contrato.Id })" class="btn btn-info btn-sm mx-1 shadow-sm">Detalles</a>
                                <a href="@Url.Action("Edit", "Contrato", new { id = contrato.Id })" class="btn btn-primary btn-sm mx-1 shadow-sm">Editar</a>
                                <a href="@Url.Action("Delete", "Contrato", new { id = contrato.Id })" class="btn btn-danger btn-sm mx-1 shadow-sm">Eliminar</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        } else {
            <div class="alert alert-info" role="alert">
                No existen contratos realizados.
            </div>
        }
    </div>
</div>

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/4.0.0/jquery.validate.unobtrusive.min.js"></script>
}
